.Dice{
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: black;
  text-shadow: 3px 3px 3px grey;
  width: 5rem;
  height: 5rem;
  color: white;
}

.Dice-locked{
  background-color: grey;
}
