.RuleRow td {
  width: 50%;
  padding: 0.3em;
  border-bottom: solid 1px black;
}

.RuleRow-name  {
  text-align: left;
}

.RuleRow-description  {
  text-align: right;
}

.RuleRow-disabled {
  background-color: grey;
}

.RuleRow-active {
  background-color: white;
}
