.Yahtzee-head {
  background-color: #04AA6D;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.Yahtzee-body {
  background-color: white;
  margin-top: 0px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.Yahtzee-body-title {
  margin-top: 0px;
}
